services:
  backend:
    container_name: django_app
    build:
      context: .
      dockerfile: Dockerfile

    volumes:
      - ./app:/app/app

    working_dir: /app/app
    command: python manage.py runserver 0.0.0.0:8000

    ports:
      - "8000:8000"
